<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v8.0" />
  </startup>
  <connectionStrings>
    <add name="AuthDatabase" 
         connectionString="Server=localhost;Port=3306;Database=erpshouquan;Uid=erpshouquan;Pwd=erpshouquan;" 
         providerName="MySql.Data.MySqlClient" />
    <add name="BusinessDatabase" 
         connectionString="Server=localhost;Port=3306;Database=dldata;Uid=dldata;Pwd=yt19880925!@#;" 
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="DatabaseTrace" value="4" />
      <add name="ApplicationTrace" value="4" />
    </switches>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" 
             type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>